{"ServiceUrl":"/destinations/mobileservices_cf_kh","AppId":"EplApp","DestinationName":"EplAppMobileDest","LanguageURLParam":"sap-language","OfflineEnabled":false}